<!DOCTYPE html>
<html lang="en" ng-app="IntervalBraining">
  <head>
    <%= render 'interval_braining_ui/components/head/meta' %>
    <title><%= content_for?(:title) ? yield(:title) : 'IntervalBraining' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= render 'interval_braining_ui/components/head/favicons' %>
    <%= render 'interval_braining_ui/components/head/ie' %>
  </head>
  <body>
    <div ng-include="$templateUrl.get('interval_braining_ui/components/navbar.html')"></div>
    <div class="container-fluid">
      <div ng-include="$templateUrl.get('interval_braining_ui/components/page_header.html')"></div>
      <div ui-view class="row">
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
